<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DRMFSS.Shared.Properties.Settings.LocalizedResourcesConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=LocalizedResources;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DRMFSS.Shared.Properties.Settings.CustomResouceProvidersSampleConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DRMFSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>