@model DRMFSS.Web.Models.PrintCertificateModel
   
                
                @Html.DropDownListFor(model => model.SelctedTemplateId,(SelectList)ViewBag.Templates)
            </td>
        </tr>
    </table>
