.dxTreeList_CollapsedButton_DevEx,
.dxTreeList_CollapsedButtonRtl_DevEx,
.dxTreeList_ExpandedButton_DevEx,
.dxTreeList_ExpandedButtonRtl_DevEx,
.dxTreeList_SortAsc_DevEx,
.dxTreeList_SortDesc_DevEx,
.dxTreeList_DragAndDropArrowDown_DevEx,
.dxTreeList_DragAndDropArrowUp_DevEx,
.dxTreeList_DragAndDropHide_DevEx,
.dxTreeList_DragAndDropNode_DevEx {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton_DevEx {
    background-position: -64px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_CollapsedButtonRtl_DevEx {
    background-position: -83px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButton_DevEx {
    background-position: -64px -17px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButtonRtl_DevEx {
    background-position: -83px -17px;
    width: 13px;
    height: 13px;
}

.dxTreeList_SortAsc_DevEx {
    background-position: -49px -17px;
    width: 7px;
    height: 5px;
}

.dxTreeList_SortDesc_DevEx {
    background-position: -49px -0px;
    width: 7px;
    height: 5px;
}

.dxTreeList_DragAndDropArrowDown_DevEx {
    background-position: -30px 0px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowUp_DevEx {
    background-position: -30px -17px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropHide_DevEx {
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}

.dxTreeList_DragAndDropNode_DevEx {
    background-position: -100px 0px;
    width: 13px;
    height: 13px;
}


